ion-toolbar {
	--background: var(--ion-item-background);
}

ion-content {
	--background: var(--ion-item-background);
}

.img-center {
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		max-height: 200px;
		max-width: 100%;
		height: auto;
		width: auto;
		overflow: hidden;
	}
}