<ion-header>
	<ion-toolbar>
		<ion-title>Modal - Edit a list</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismiss()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<form [formGroup]="listEditForm" (ngSubmit)="submit()" novalidate>
		<ion-item lines="full">
			<ion-label position="floating">List name</ion-label>
			<ion-input
				required
				formControlName="name"
				type="text"
			></ion-input>
			<ion-text color="danger" *ngIf="listEditForm.get('name').invalid && listEditForm.get('name').touched">
				<p *ngIf="listEditForm.get('name').hasError('required')">Name is required</p>
				<p *ngIf="listEditForm.get('name').hasError('minlength')">Name must be at least 5 characters</p>
			</ion-text>
		</ion-item>
		<ion-item lines="full">
			<ion-label position="floating">Description</ion-label>
			<ion-textarea formControlName="description" type="text"></ion-textarea>
		</ion-item>
		
		<div class="img-center" *ngIf="displayObservable && image$ | async as i">
			<img [src]="i">
		</div>

		<div class="img-center" *ngIf="!displayObservable">
			<img [src]="image">
		</div>
	
		<ion-row>
			<ion-col>
				<ion-button (click)="addPhoto('camera')" expand="block">
					<ion-icon name="camera" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-col>
			<ion-col>
				<ion-button (click)="addPhoto('library')" expand="block">
					<ion-icon name="image" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-button expand="block" type="submit" [disabled]="!listEditForm.valid">Update</ion-button>
	</form>
</ion-content>
