<ion-header>
  <tool-bar [name]="(list$ | async)?.name"></tool-bar>
</ion-header>

<ion-content fullscreen>
  <ng-container *ngIf="list$ | async as list">
    <section
      class="owner_info"
      *ngIf="list.right === 'owner'"
    >
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            (click)="presentShareModal()"
          >
            <ion-text>Share</ion-text>
            <ion-icon name="share"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            expand="block"
            (click)="presentEditModal()"
          >
            <ion-text>Edit</ion-text>
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            color="danger"
            expand="block"
            (click)="deleteList(list)"
            [routerLink]="['/home']"
          >
            <ion-text>Delete</ion-text>
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </section>

    <section>
      <ion-text class="title">
        Description
      </ion-text>
      <ion-textarea
        (ionBlur)="updateDescription($event)"
        [readonly]="!isEditDescriptionAllowed"
        [value]="list.description">
      </ion-textarea>
    </section>

    <section>

      <div class="img-center" *ngIf="displayObservable && image$ | async as i">
        <img [src]="i">
      </div>
  
      <div class="img-center" *ngIf="!displayObservable">
        <img [src]="image">
      </div>
      
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            (click)="presentTodoModal()"
            [hidden]="list.right === 'reader'"
          >
            Add task
          </ion-button>
        </ion-col>
      </ion-row>
      
      <div id="todos">
        <ng-container *ngIf="list.right !== 'reader'">
          <ion-item-sliding *ngFor="let t of todos$ | async | sortBy: 'asc':'Todo'; let index = index">
            <ion-item>
              <ion-label>{{ t.name }}</ion-label>
              <ion-checkbox
              checked="t.isDone"
              (click)="todoChecked(t)"
              [(ngModel)]="t.isDone"
              ></ion-checkbox>
            </ion-item>
            
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="deleteTodo(t)">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ng-container>

        <ng-container *ngIf="list.right === 'reader'">
          <ion-item *ngFor="let t of todos$ | async | sortBy: 'asc':'Todo'; let index = index">
            <ion-label>{{ t.name }}</ion-label>
            <ion-checkbox
              [(ngModel)]="t.isDone"
              disabled="true"
            ></ion-checkbox>
          </ion-item>
        </ng-container>
      </div>
    </section>
  </ng-container>

</ion-content>
