img {
  height: 200px;
}

ion-button {
  ion-icon {
    margin-inline-start: 10px;
  }
}

section {
  padding: 10px;
  ion-row {
    ion-label {
      height: 100%;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.owner_info {
  background-color: var(--ion-item-background);
  position: sticky;
  top: 0;
  z-index: 10;
}

.title {
  font-size: 1.5em;
}

.img-center {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-height: 200px;
    max-width: 100%;
    height: auto;
    width: auto;
    overflow: hidden;
  }
}
