<ion-header>
	<ion-toolbar>
		<ion-title>Modal - Create a list</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismiss()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<form [formGroup]="listForm" (ngSubmit)="submit()" novalidate>
		<ion-item lines="full">
			<ion-label position="floating">List name</ion-label>
			<ion-input formControlName="name" type="text" required></ion-input>
			<ion-text color="danger" *ngIf="listForm.get('name').invalid && listForm.get('name').touched">
				<p *ngIf="listForm.get('name').hasError('required')">Name is required</p>
				<p *ngIf="listForm.get('name').hasError('minlength')">Name must be at least 5 characters</p>
			</ion-text>
		</ion-item>
		<ion-item lines="full">
			<ion-label position="floating">Description</ion-label>
			<ion-textarea formControlName="description" type="text"></ion-textarea>
		</ion-item>

		<div class="img-center" *ngIf="displayObservable && image$ | async as i">
			<img [src]="i">
		</div>

		<div class="img-center" *ngIf="!displayObservable">
			<img [src]="image">
		</div>

		<ion-row>
			<ion-col>
				<ion-button (click)="addPhoto('camera')" expand="block">
					<ion-icon name="camera" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-col>
			<ion-col>
				<ion-button (click)="addPhoto('library')" expand="block">
					<ion-icon name="image" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-col>
		</ion-row>
		<!-- <ion-button (click)="uploadToFirebase()" expand="block">
			<ion-icon name="cloud-upload" slot="start"></ion-icon>
			<ion-label>Send picture to Firebase</ion-label>>
		</ion-button> -->

		<ion-button expand="block" type="submit" [disabled]="!listForm.valid">Create</ion-button>
	</form>
</ion-content>
