<ion-header>
  <tool-bar [name]="['Login']" [displayLogInOut]="false"></tool-bar>
</ion-header>

<ion-content fullscreen>

  <form [formGroup]="credentialsForm" (ngSubmit)="submitLogin()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input
        required
        formControlName="email"
        type="email"
        (ionChange)="onEmailChange($event)"
      ></ion-input>
      <div *ngIf="credentialsForm.get('email').invalid && 
        credentialsForm.get('email').errors && 
        (credentialsForm.get('email').dirty || credentialsForm.get('email').touched)">
        <small class="text-danger"
            *ngIf="credentialsForm.get('email').hasError('required')">
            Email is required
        </small>
        <small class="text-danger"
            *ngIf="credentialsForm.get('email').hasError('email')">
            Email invalid
        </small>
      </div>
      <small class="text-danger" *ngIf="errorCode === 'auth/user-not-found'">
        No user found with this email
      </small>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        required
        formControlName="password"
        type="password"
        (ionChange)="onPasswordChange($event)"
      ></ion-input>
      <div *ngIf="credentialsForm.get('password').invalid && 
        credentialsForm.get('password').errors && 
        (credentialsForm.get('password').dirty || credentialsForm.get('password').touched)">
        <small class="text-danger"
            *ngIf="credentialsForm.get('password').hasError('required')">
            Password is required
        </small>
      </div>
      <small class="text-danger" *ngIf="errorCode === 'auth/wrong-password'">
        Wrong password for this email
      </small>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="block" type="submit" [disabled]="!credentialsForm.valid">Login</ion-button>
        <ion-item>
          <ion-label><a [routerLink]="['/register']">Register</a></ion-label>
          <ion-label slot="end"><a [routerLink]="['/forgotten-password']" class="small-text">Forgotten password?</a></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button color="light" (click)="login()"><ion-icon name="logo-google"></ion-icon></ion-button>
    </ion-row>
  </form>

</ion-content>
