<ion-header>
  <tool-bar [name]="['Register']" [displayLogInOut]="false"></tool-bar>
</ion-header>

<ion-content fullscreen>

  <form [formGroup]="credentialsForm" (ngSubmit)="submitRegister()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
      <div *ngIf="credentialsForm.get('email').invalid && 
        credentialsForm.get('email').errors && 
        (credentialsForm.get('email').dirty || credentialsForm.get('email').touched)">
        <small class="text-danger"
            *ngIf="credentialsForm.get('email').hasError('required')">
            Email is required.
        </small>
        <small class="text-danger"
            *ngIf="credentialsForm.get('email').hasError('email')">
            Email invalid.
        </small>
      </div>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
      <div *ngIf="credentialsForm.get('password').invalid && 
        credentialsForm.get('password').errors && 
        (credentialsForm.get('password').dirty || credentialsForm.get('password').touched)">
        <small class="text-danger"
            *ngIf="credentialsForm.get('password').hasError('required')">
            Password is required.
        </small>
        <small class="text-danger"
            *ngIf="credentialsForm.get('password').hasError('minLength')">
            Password length should be at least 6.
        </small>
      </div>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password confirmation</ion-label>
      <ion-input formControlName="passwordConfirmation" type="password" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!credentialsForm.valid">Register</ion-button>
  </form>
</ion-content>
