<ion-header>
  <tool-bar [name]="['Page not found']"></tool-bar>
</ion-header>

<ion-content fullscreen>
  <ion-text>
    <H1>
      Error 404
    </H1>
    <H2>
      Page not found, the url can be wrong or non-existent
    </H2>
  </ion-text>
</ion-content>
