<ion-toolbar>
    <ion-buttons
        slot="start"
        *ngIf="this.isConnected && this.displayHome"
    >
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text>
        <H1>
            {{name}}
        </H1>
    </ion-text>
    <ion-button slot="end" fill="clear" *ngIf="this.displayLogInOut && this.isConnected" (click)="logout()">
        <ion-icon slot="icon-only" name="power"></ion-icon>
    </ion-button>
    <ion-button slot="end" *ngIf="this.displayLogInOut && !this.isConnected" (click)="login()">Login</ion-button>
</ion-toolbar>
