<ion-header>
	<ion-toolbar>
		<ion-title>Modal - Share your list</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismiss()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<form [formGroup]="shareListForm" (ngSubmit)="submit()" novalidate>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        formControlName="email"
      ></ion-input>
			<ion-text color="danger" *ngIf="shareListForm.get('email').invalid && shareListForm.get('email').touched">
				<p *ngIf="shareListForm.get('email').hasError('required')">Email is required</p>
				<p *ngIf="shareListForm.get('email').hasError('email')">Email is not in a good format</p>
			</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Right</ion-label>
      <ion-select
        formControlName="right"
      >
        <!-- <ion-select-option value="owner">Owner</ion-select-option> -->
        <ion-select-option value="writer">Writer</ion-select-option>
        <ion-select-option value="reader">Reader</ion-select-option>
      </ion-select>
    </ion-item>    

		<ion-button expand="block" type="submit" [disabled]="!shareListForm.valid">Update</ion-button>
	</form>
  <ion-list *ngIf="list$ | async as list">
    <ion-label *ngIf="list.writers.length > 0">
      <ion-icon name="create"></ion-icon>
      <h1>Writers</h1>
    </ion-label>
    <ion-item *ngFor="let user of list.writers">
      <ion-label>{{ user }}</ion-label>
      <ion-icon name="close" slot="end" (click)="removeWriter(user)"></ion-icon>
    </ion-item>
    <ion-label *ngIf="list.readers.length > 0">
      <ion-icon name="eye"></ion-icon>
      <h1>Readers</h1>
    </ion-label>
    <ion-item *ngFor="let user of list.readers">
      <ion-label>{{ user }}</ion-label>
      <ion-icon name="close" slot="end" (click)="removeReader(user)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
