<ion-header translucent>
	<ion-toolbar>
		<ion-title>Modal - Create a todo</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismiss()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<form [formGroup]="todoForm" (ngSubmit)="submit()" novalidate>
		<ion-item lines="full">
			<ion-label position="floating">Task name</ion-label>
			<ion-input formControlName="name" type="text" required></ion-input>
		</ion-item>
		<ion-button expand="block" type="submit">Create Todo</ion-button>
	</form>
</ion-content>
