<ion-header [translucent]="true">
  <tool-bar [name]="['Home']" [displayHome]="false"></tool-bar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Your lists</ion-title>
    </ion-toolbar>
  </ion-header>

  <section id="lists">
    <ion-button expand="block" (click)="presentModal_newList()">Add todo-list</ion-button>
    <ng-container *ngFor="let list of lists$ | async | sortBy: 'asc':'List'; let index = index">
      <ion-item
        button
        detail="false"
        [ngClass]="{
          'owner': list.right === 'owner',
          'writer' : list.right === 'writer',
          'reader': list.right === 'reader'
        }"
        [routerLink]="['/detail/' + list.id]"
      >
        <ion-icon name="person" *ngIf="list.right === 'owner'"></ion-icon>
        <ion-icon name="create" *ngIf="list.right === 'writer'"></ion-icon>
        <ion-icon name="eye" *ngIf="list.right === 'reader'"></ion-icon>
        <div>
          <ion-label>{{ list.name }}</ion-label>
        </div>
      </ion-item>

    </ng-container>
  </section>
</ion-content>
