section {
  padding: 0 10px;
}

ion-label {
  margin-inline-start: 10px;
}

ion-item {
  --padding-start: 0;

  ion-icon {
    margin-inline-start: 10px;
  }
}

.owner {
  --ion-item-background: linear-gradient(to left bottom, green, 10%, rgba(0, 0, 0, 0));
}

.writer {
  --ion-item-background: linear-gradient(to left bottom, rgb(0, 100, 128), 10%, rgba(0, 0, 0, 0));
}

.reader {
  --ion-item-background: linear-gradient(to left bottom, blue, 10%, rgba(0, 0, 0, 0));
}