<ion-header>
  <tool-bar [name]="['Forgotten password']" [displayLogInOut]="false"></tool-bar>
</ion-header>

<ion-content fullscreen>

  <form [formGroup]="emailForm" (ngSubmit)="submit()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
      <div *ngIf="emailForm.get('email').invalid && 
        emailForm.get('email').errors && 
        (emailForm.get('email').dirty || emailForm.get('email').touched)">
        <small class="text-danger"
            *ngIf="emailForm.get('email').hasError('required')">
            Email is required.
        </small>
        <small class="text-danger"
            *ngIf="emailForm.get('email').hasError('email')">
            Email invalid.
        </small>
      </div>
    </ion-item>
    
    <ion-button expand="block" type="submit" [disabled]="!emailForm.valid">Send mail</ion-button>
  </form>

</ion-content>
